---
title: GitLab InnerSourcing Training
suppress_header: true
description: "for development teams"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education Services

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_is" }
    .row
      .col-md-12
        %h2 Course Agenda
        .row
          .col-md-8.col-md-offset-1
            %table
              %thead
                %tr
                  %th Course Day
                  %th Topic
              %tbody
                %tr
                  %td Morning
                  %td 
                    %ul
                      %li InnerSource Introduction
                      %li Best Practices at GitLab
                      
                      
                %tr
                  %td Afternoon
                  %td 
                    %ul
                      %li Applying Best Practices using GitLab - Hands-on Labs
        = partial "includes/services/requirements", locals: { id: "training_sessions_pm" }
        = partial "includes/services/pricing", locals: { id: "training_sessions_pm" }
        

